<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="vendor/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <script src="vendor/jquery/jquery-3.1.1.min.js"></script>
    <script src="vendor/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <a href="/" class="navbar-brand">Todo list</a>
</div>
<div class="jumbotron text-center">
    <h1>I'm really sorry!</h1>
    <h4>But something went really wrong. Please, return to the index page</h4>
    <br>
    <br>
    <h1>404</h1>
    <br>
    <br>
    <button class="btn btn-info">Back to the main page</button>
</div>
</body>
</html>